#homepage-slider {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1
}

@media (max-width: 767px) {
    #homepage-slider {
        width: 100%;
        max-width: 100%;
        padding-top: 20px
    }
}

#homepage-slider #homeslider {
    margin: 0 auto;
    padding: 0
}

#homepage-slider .homeslider-description {
    width: 100%;
    padding: 90px;
    cursor: pointer
}

#homepage-slider .homeslider-description h2 {
    font: 700 45px 'Montserrat', sans-serif;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #494940;
    margin: 3% 0 3.5%;
    padding: 0
}

@media (min-width: 768px) and (max-width: 991px) {
    #homepage-slider .homeslider-description h2 {
        font: 700 30px 'Montserrat', sans-serif;
        line-height: 30px;
        margin: 0 0 1%
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #homepage-slider .homeslider-description h2 {
        font: 700 40px 'Montserrat', sans-serif;
        line-height: 35px;
        margin: 2% 0 2.6%
    }
}

#homepage-slider .homeslider-description h1 {
    color: #494940
}

#homepage-slider .homeslider-description p {
    width: 50%;
    font: 300 15px 'Montserrat', sans-serif;
    letter-spacing: .8px;
    line-height: 18px;
    padding: .5em 0;
    margin: 0 0 5%;
    color: #202020
}

@media (min-width: 768px) and (max-width: 991px) {
    #homepage-slider .homeslider-description p {
        font: 300 13px 'Montserrat', sans-serif;
        line-height: 13px;
        margin: 0 0 1%
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #homepage-slider .homeslider-description p {
        font: 300 15px 'Montserrat', sans-serif;
        line-height: 15px;
        margin: 0 0 3%
    }
}

#homepage-slider .homeslider-description div .button-small {
    letter-spacing: 1px;
    padding: 12px 20px 10px;
    text-transform: uppercase;
    background: none
}

#homepage-slider .homeslider-description div .button-small:hover {
    background: #202020;
    color: #fff
}

@media (min-width: 992px) and (max-width: 1199px) {
    #homepage-slider .homeslider-description {
        padding: 50px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #homepage-slider .homeslider-description {
        padding: 50px
    }
}

@media (max-width: 768px) {
    #homepage-slider .homeslider-description {
        padding: 30px;
        font-size: .7em
    }

    #homepage-slider .homeslider-description p {
        font-size: 1.5em
    }
}

@media (max-width: 480px) {
    #homepage-slider .homeslider-description {
        padding: 30px;
        font-size: .5em
    }

    #homepage-slider .homeslider-description p {
        font-size: 1.7em
    }
}

#homepage-slider .homeslider-container {
    position: relative
}

#homepage-slider .homeslider-image {
    position: absolute;
    left: 0;
    top: 0
}

#homepage-slider .homeslider-description {
    position: absolute;
    left: 10px;
    top: 0
}

@media (min-width: 768px) and (max-width: 991px) {
    #homepage-slider .homeslider-description {
        left: 40px
    }
}

@media (max-width: 478px) {
    #homepage-slider .homeslider-description {
        display: none
    }

    #homepage-slider .bx-wrapper .bx-controls-direction a {
        display: none
    }
}

@media (min-width: 479px) and (max-width: 767px) {
    #homepage-slider {
        display: none
    }
}

@media (max-width: 478px) {
    #homepage-slider {
        display: none
    }
}

#homeslider {
    display: none
}

#homepage-slider .bx-wrapper {
    position: relative;
    max-width: 100% !important;
    padding: 0;
    *zoom: 1
}

#homepage-slider .bx-wrapper #homeslider {
    display: block
}

#homepage-slider a {
    display: block
}

#homepage-slider img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto
}

#homepage-slider .bx-viewport {
    width: 100%
}

#homepage-slider .bx-pager, #homepage-slider .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%
}

#homepage-slider .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000
}

#homepage-slider .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #666;
    padding-top: 20px
}

#homepage-slider .bx-pager .bx-pager-item, #homepage-slider .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline
}

#homepage-slider .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

#homepage-slider .bx-pager.bx-default-pager a:hover, #homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000
}

#homepage-slider .bx-prev {
    left: 15px
}

#homepage-slider .bx-prev:after {
    content: "\f104"
}

#homepage-slider .bx-next {
    right: 15px
}

#homepage-slider .bx-next:after {
    content: "\f105"
}

#homepage-slider .bx-controls-direction a {
    position: absolute;
    outline: 0;
    width: 65px;
    height: 280px;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999px;
    z-index: 9999
}

#homepage-slider .bx-controls-direction a:after {
    width: 65px;
    height: 280px;
    color: #202020;
    text-indent: 0;
    text-align: center;
    font-size: 90px;
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-transition: all .4s ease 0;
    -webkit-transition: all .4s ease 0;
    -o-transition: all .4s ease 0;
    -ms-transition: all .4s ease 0;
    transition: all .4s ease 0
}

#homepage-slider .bx-controls-direction a:hover:before, #homepage-slider .bx-wrapper .bx-controls-direction a:hover:after {
    background-color: #202020;
    color: #fff
}

#homepage-slider .bx-controls-direction a.disabled {
    display: none
}

#homepage-slider .bx-controls-auto {
    text-align: center
}

#homepage-slider .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px
}

#homepage-slider .bx-controls-auto .bx-start:hover, #homepage-slider .bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0
}

#homepage-slider .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px
}

#homepage-slider .bx-controls-auto .bx-stop:hover, #homepage-slider .bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px
}

#homepage-slider .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%
}

#homepage-slider .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px
}

#homepage-slider .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666 \9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%
}

#homepage-slider .bx-caption span {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: .85em;
    padding: 10px
}

.ie8 #homepage-slider .bx-wrapper .bx-controls-direction a:before {
    background: #333
}

/* NEW */
.advantage .advantage-box_icon {
    max-width: 70px
}

.advantage {
    margin-top: 31px;
    margin-bottom: 48px;
    display: block;
    line-height: 1.15
}

.advantage .grid {
    max-width: 1600px;
    margin: 0 auto;
    position: relative
}

.advantage .grid {
    display: -ms-grid;
    display: grid
}

.advantage-grid {
    padding: 20px 20px 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr)
}

.advantage-box {
    display: grid;
    grid-template-columns: 65px 1fr;
    grid-column-gap: 32px;
    padding-right: 30px
}

.advantage-box_title {
    color: #353535;
    margin-bottom: 2px;
    font: bold 18px 'Montserrat', sans-serif
}

.advantage-box_text {
    font-size: 12px;
    color: #999;
    margin-bottom: 0;
    font-weight: 400;
    min-height: 39px
}

@media screen and (max-width: 1650px) {
    .advantage .grid {
        width: 1300px
    }

    .advantage-grid {
        grid-column-gap: 15px;
        padding: 0
    }

    .advantage-box {
        grid-column-gap: 15px;
        padding: 0
    }

    .advantage-box_icon {
        height: 70px
    }

    .advantage-box_title {
    }

    .advantage-box_text {
    }

    .advantage-box_text {
        min-height: 52px
    }

    .advantage-box_title {
        font: bold 17px 'Montserrat', sans-serif
    }
}

@media screen and (max-width: 1400px) {
    .advantage .grid {
        width: 1170px
    }
}

@media screen and (max-width: 1310px) {
    .advantage {
        margin-top: 32px;
        margin-bottom: 48px
    }

    .advantage .grid {
        width: 960px
    }

    .advantage-grid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 26px;
        grid-row-gap: 25px
    }
}

@media screen and (max-width: 991px) {
    .advantage .grid {
        width: 740px
    }

    .advantage-grid {
        padding: 0;
        grid-column-gap: 70px
    }

    .advantage-box {
        position: relative
    }
}

@media screen and (max-width: 767px) {
    .advantage .grid {
        width: 100%;
        padding: 0 30px
    }

    .advantage-grid {
        padding: 32px 32px 0
    }

    .advantage-box {
        position: relative
    }
}

@media screen and (max-width: 575px) {
    .advantage-grid {
        grid-template-columns: 100%;
        grid-row-gap: 33px
    }

    .advantage-box {
        height: auto
    }

    .swap_blocks {
        width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start
    }

    .advantage #htmlcontent_top {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1
    }

    .swap_blocks .advantage {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 2;
        margin-bottom: 10px
    }
}

@media screen and (max-width: 480px) {
    .advantage .grid {
        padding: 0 14px
    }

    .advantage-box {
        padding: 0 15px 0 0
    }
}

@media screen and (max-width: 440px) {
    .advantage-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto
    }

    .advantage-box_icon {
        margin-right: 0;
        margin-bottom: 15px
    }

    .advantage-box_right {
        width: 100%
    }
}

@media screen and (max-width: 380px) {
    .advantage-box_title {
        font-size: 18px
    }

    .advantage-box_text {
        font-size: 16px
    }
}