#enabled_filters {
  margin: 0 0 10px 0;
  background: transparent;
  padding: 5px; }

#enabled_filters .layered_subtitle {
  font-weight: bold;
  font-size: 12px; }

#enabled_filters ul li {
  padding: 2px 0; }

#enabled_filters li a {
  float: right;
  padding-left: 10px;
  cursor: pointer; }

#layered_block_left .layered_close {
  float: right;
  padding-right: 5px; }

#layered_block_left span.layered_close a,
#layered_block_left span.layered_close a {
  display: block;
  height: 13px;
  width: 13px;
  text-decoration: none;
  text-indent: -5000px;
  background: url(img/icon/less.gif) no-repeat 2px 2px; }

#layered_block_left span.closed a {
  background: url(img/icon/more.gif) no-repeat 2px 2px; }

#layered_block_left .layered_subtitle {
  display: inline-block;
  font: 500 16px 'Montserrat', sans-serif;
  letter-spacing: 0.8px;
  color: #202020;
  }

#layered_block_left ul {
  clear: both;
  padding: 5px 0; }

#layered_block_left ul li {
  padding: 0; }

#layered_block_left ul li label {
  cursor: pointer; }

#layered_block_left ul {
  margin: 15px 0;
  letter-spacing: 0.2px;
  font: 500 14px 'Montserrat', sans-serif;
  color: #202020;
  }

#layered_block_left ul li {
  list-style-type: none; 
  }

#layered_block_left div > form > div > div {
  margin: 10px 0; 
  }

#layered_block_left #enabled_filters, #layered_url_filter_block {
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  border: 1px solid #d6d4d4; 
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  }

#layered_block_left #enabled_filters ul li {
  margin-left: 0;
  font: 300 14px 'Montserrat', sans-serif;
  letter-spacing: 0.8px;
  }

/* Style moved form the template to the css  */
#layered_block_left #enabled_filters ul li:hover {
  background: inherit;
  color: inherit; }

#layered_block_left ul li input.checkbox {
  vertical-align: middle;
  margin-left: 2px; }

#layered_block_left ul li .disabled {
  color: #666; }

#layered_block_left .color-option {
  border: 1px solid #666666;
  height: 16px;
  margin-left: 0;
  margin-right: 5px;
  padding: 0;
  width: 16px; }

#layered_block_left .color-option.disable {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5; }

#layered_block_left .nomargin a {
  display: inline; 
  letter-spacing: 0.8px;
  margin: 0 0 5px 0;
  font: 300 14px/18px 'Montserrat', sans-serif;
  color: #202020;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; 
  
  }
  
#layered_block_left .nomargin a:hover {

  color: #951bc4;
  
  }

#layered_form .select {
  width: 165px; 
  }

#layered_form .color-option {
  margin-left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #ddd; 
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; 
  float: left;
  }

#layered_form .color-option.on {
  border: 1px solid #6a6a6a; 
  }

#layered_form input[type=radio] {
  margin-left: 2px;
  vertical-align: middle; 
  }

.layered_price_range {
  margin-left: 7px; 
  }

.layered_price_range_unit {
  margin-right: 7px;
   }

.layered_slider_container {
  margin: 6px 0 6px 10px;
  width: 91%; 
  cursor: pointer;
  }

.layered_slider {
  margin-top: 15px; 
  }

.layered_input_range_min {
  width: 30px; 
  }

.layered_input_range_max {
  width: 40px; 
  }

.layered_list_selected {
  font-weight: bold; 
  }

.layered_list {
  display: block;
  cursor: pointer; 
  }

.layered_list:hover {
  font-weight: bold; 
  }

.layered_ajax_loader p {
  margin: 20px 0;
  text-align: center; 
  }

.hide-action {
  text-align: center;
  text-align: right;
  display: block;
  cursor: pointer; 
  }

.hide-action:hover {
  font-weight: bold; 
  }

#layered_form div div ul {
  max-height: auto;
  overflow-x: auto; 
  }

.layered_filter,
.layered_price {
  border-bottom: 1px solid #d6d4d4; }

.layered_filter label {
    font-weight: normal;
  }

.layered_filter layered_subtitle {
    font-size: 1.2 em; 
  }
  

@media(max-width: 767px){
  #categories_block_left .titlebordrtext1,
  #layered_block_left .titlebordrtext1{
    cursor: pointer;
  }
  #categories_block_left .titlebordrtext1.active .titleborderh4::after,
  #layered_block_left .titlebordrtext1.active .titleborderh4::after{
    content: " \f106";
  }
  #categories_block_left .titleborderh4::after,
  #layered_block_left .titleborderh4::after{
    font-family: "FontAwesome";
    content: " \f107";
    font-size: 20px;
    cursor: pointer;
  }
}
/*.layered_filter_ul { 
    display: none; 
}*/
.layered_subtitle_heading {
    position: relative; 
}
.layered_subtitle_heading::after {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 20px;
    color: #202020;
    position: absolute;
    right: 0;
}
#ul_layered_id_feature_9 label {
  margin-top: 2px;
  margin-bottom: 10px;
}