@media screen and (min-width: 768px) {
    .our_assets div {
        padding: 12px;
    }
}
@media screen and (min-width: 991px) {
    .our_assets div {
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {
    .our_assets div {
        padding: 10px 3px;
    }
}
@media screen and (max-width: 565px) {
    .our_assets div {
        padding: 10px 35px;
    }
}
@media screen and (max-width: 488px) {
    .our_assets div {
        padding: 8px 20px;
    }
}
@media screen and (max-width: 396px) {
    .our_assets div {
        padding: 5px;
    }
}

#bottom_ya_block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.bottom_forbes {
    display: flex !important;
    align-items: flex-end;
    justify-content: end;
    padding-left: 24px;
    min-height: 50px;
}
.bottom_forbes a img {
    width: auto;
    height: 23px;
    /* max-height: 23px; */
}
@media screen and (max-width: 991px) and (min-width: 769px) {
    #bottom_ya_block {
        flex-direction: column;
    }
    .bottom_forbes {
        width: 182px;
        padding-left: 0;
        min-height: 50px;
        margin-top: 0;
    }
    .bottom_forbes a img {
        width: 100%;
        height: auto;
        max-height: unset;
    }
}
@media (max-width: 768px) {
    .ym-review {
        display: block;
    }
    #bottom_ya_block {
        flex-direction: row;
    }
}
.show_rooms_photo {
    margin: 20px 0;
}
.show_rooms_photo img {
    display: block;
    width: 100%;
    height: auto;
}
.show_rooms_photo .owl-dots {
    padding-top: 0px;
    text-align: right;
}
.show_rooms_photo .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
    padding: 0;
    border: none;
}

.show_rooms_photo .owl-dots .owl-dot span {
    margin: 5px 7px;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 0.2s ease;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #e8e8e8;
}
.show_rooms_photo .owl-dots .owl-dot.active span {
    border: 4px solid #951bc4;
    background: #951bc4;
}
.show_rooms_photo .owl-nav .owl-prev,
.show_rooms_photo .owl-nav .owl-next {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 32px;
    z-index: 10;
    background: rgba(248, 248, 248, 0.5);
    transition: background 0.33s linear;
    text-indent: -9999px;
    border: none;
    outline: none;
}
.show_rooms_photo .owl-nav .owl-prev:before,
.show_rooms_photo .owl-nav .owl-next:before {
    position: absolute;
    content: '';
    background: url(/img/feather-chevron.svg) no-repeat;
    background-size: contain;
    width: 9px;
    height: 18px;
    left: 11px;
    top: calc(50% - 15px);
    color: #000;
    font-size: 20px;
}
.show_rooms_photo .owl-nav .owl-prev:focus,
.show_rooms_photo .owl-nav .owl-next:focus {
    border: none;
    outline: none;
}
.show_rooms_photo .owl-nav .owl-prev,
.show_rooms_photo .owl-nav .owl-next {
    height: calc(100% - 54px);
}
.show_rooms_photo .owl-nav .owl-next {
    left: auto;
    right: 0;
}
.show_rooms_photo .owl-nav .owl-next:before {
    transform: rotate(180deg);
    right: 11px;
    left: auto;
}
.show_rooms_photo img {
    transition: all 8s ease-in-out;
    -moz-transition: all 8s ease-in-out;
    -o-transition: all 8s ease-in-out;
    -webkit-transition: all 8s ease-in-out;
}

.show_rooms_photo img:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.colored_dot {
    color: #951bc4;
    font-size: 3.5rem;
    line-height: 10px;
    position: relative;
    top: 5px;
}

.creator {
    /*width: 100%;*/
    text-align-last: center;
    display: block;
    color: #999;
}
.creator a {
    color: #ffffff;
    transition: all 0.2s ease;
}
.creator a:hover {
    color: #951bc4;
    text-shadow: 0px 0px 2px #ffffff59;
}
.post-footer-container {
    height: auto;
}
@media (max-width: 478px) {
    .post-footer-container {
        height: auto !important;
    }
}

@media (max-width: 768px) {
    .post-footer-container {
        height: auto !important;
    }
}
#iqitmegamenu-accordion > ul > li:nth-child(2):before {
    background: url('/modules/jsox_manyworks/images/cats_mobile/lustr.svg')
        no-repeat;
}
#iqitmegamenu-accordion li:nth-child(2) li.back-menu span:nth-child(2):before {
    background: url('/modules/jsox_manyworks/images/cats_mobile/lustr.svg')
        no-repeat !important;
}
#iqitmegamenu-accordion > ul > li:nth-child(3):before {
    background: url('/modules/jsox_manyworks/images/cats_mobile/svetil.svg')
        no-repeat;
}
#iqitmegamenu-accordion li:nth-child(3) li.back-menu span:nth-child(2):before {
    background: url('/modules/jsox_manyworks/images/cats_mobile/svetil.svg');
}
#iqitmegamenu-accordion > ul > li:nth-child(4):before {
    background: url('/modules/jsox_manyworks/images/cats_mobile/torshers.svg')
        no-repeat;
}
#iqitmegamenu-accordion > ul > li:nth-child(5):before {
    background: url('/modules/jsox_manyworks/images/cats_mobile/table_lamps.svg')
        no-repeat;
}
#iqitmegamenu-accordion li:nth-child(5) li.back-menu span:nth-child(2):before {
    background: url('/modules/jsox_manyworks/images/cats_mobile/table_lamps.svg');
    background-size: cover !important;
}

#iqitmegamenu-accordion > ul > li:nth-child(6):before {
    background: url('/modules/jsox_manyworks/images/cats_mobile/braa.svg')
        no-repeat;
}
#iqitmegamenu-accordion > ul > li:nth-child(7):before {
    background: url('/modules/jsox_manyworks/images/cats_mobile/lofts.svg')
        no-repeat;
}
#iqitmegamenu-accordion > ul > li:before {
    width: 42px !important;
    height: 42px !important;
    background-size: cover !important;
    top: 4px !important;
}
#iqitmegamenu-accordion li.back-menu span:before {
    width: 46px !important;
    height: 46px !important;
    background-size: cover !important;
    top: -14px !important;
}

.revws-review-date {
    display: none;
}
/** */

* {
    margin: 0;
    padding: 0;
    outline: none;
}
a {
    text-decoration: none;
}
.content-width {
    width: 1350px;
    margin: 0 auto;
}
.blue-link {
    font-size: 14px;
    color: #951bc4;
}
.blue-link:hover {
    color: #951bc4c4;
}
@media (max-width: 480px) {
    .content-width {
        width: 100%;
    }
    .blue-link {
        font-size: 13px;
    }
}
@media (min-width: 481px) and (max-width: 1199px) {
    .content-width {
        width: 100%;
    }
}
@media (min-width: 1200px) and (max-width: 1649px) {
    .content-width {
        width: 1170px;
    }
}
.static-page .h2-company-wholesale-page {
    font-size: 45px;
    line-height: 52px;
    font-weight: 700;
}
@media (max-width: 480px) {
    .static-page .h2-company-wholesale-page {
        font-size: 25px;
        line-height: 30px;
    }
}
@media (min-width: 481px) and (max-width: 1199px) {
    .static-page .h2-company-wholesale-page {
        font-size: 30px;
        line-height: 35px;
    }
}
.wholesales-client-page .begin-cooperation-container {
    margin-top: 10px;
    padding: 80px 95px;
    box-sizing: border-box;
    display: flex;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);
}
.wholesales-client-page .begin-cooperation-text {
    margin-top: 25px;
    font-size: 15px;
    line-height: 22px;
    background: url('/modules/jsox_manyworks/images/cooperation.svg') no-repeat
        top 5px left;
    min-height: 50px;
    background-size: 44px 44px;
    padding-left: 64px;
    position: relative;
}
/* .wholesales-client-page .begin-cooperation-text::before {
    content: '?';
    position: absolute;
    left: 16px;
    top: 16px;
    font-size: 27px;
} */
.wholesales-client-page .begin-cooperation-form {
    margin-left: 103px;
    margin-top: 5px;
    width: 655px;
}
.wholesales-client-page .begin-cooperation-input-text {
    border: none;
    border-bottom: 2px solid #333;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 5px;
    flex-grow: 1;
    margin-bottom: 52px;
    box-shadow: none;
}
.wholesales-client-page .begin-cooperation-input-text:hover {
    color: #999;
    border-bottom: 2px solid #555;
}
.wholesales-client-page .begin-cooperation-input-last {
    margin-bottom: 0;
}
.wholesales-client-page .begin-cooperation-input {
    display: flex;
    justify-content: space-between;
}
.wholesales-client-page .begin-cooperation-input .error-text {
    display: none;
}
.wholesales-client-page .phone-input {
    margin-right: 35px;
}
.wholesales-client-page .begin-cooperation-email-phone {
    flex-grow: 1;
}
.wholesales-client-page
    .begin-cooperation-email-phone
    .begin-cooperation-input-text {
    width: 310px;
}
.wholesales-client-page .consent-block {
    margin-top: 30px;
    display: flex;
}
.wholesales-client-page .consent-block-text {
    font-size: 13px;
    line-height: 19px;
    margin-right: 43px;
}
.wholesales-client-page .form-blue-button {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: #951bc4;
    border: none;
    width: 310px;
    text-align: center;
    height: 55px;
    flex-shrink: 0;
    border-radius: 50px;
    cursor: pointer;
    /* font-family: 'Roboto', sans-serif; */
    transition: all 0.3s ease;
}
.wholesales-client-page .form-blue-button:hover {
    background: #951bc4c4;
}
.wholesales-client-page .blue-link {
    font-size: 13px;
}
@media (max-width: 480px) {
    .wholesales-client-page .begin-cooperation-container {
        margin-top: 35px;
        padding: 30px 15px 40px;
        flex-direction: column;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.12);
    }
    .wholesales-client-page
        .begin-cooperation-container
        .h2-company-wholesale-page {
        text-align: center;
    }
    .wholesales-client-page .begin-cooperation-text {
        margin-top: 20px;
        font-size: 13px;
        line-height: 19px;
    }
    .wholesales-client-page .begin-cooperation-form {
        margin-left: 0;
        margin-top: 28px;
        width: 100%;
    }
    .wholesales-client-page .begin-cooperation-input-text {
        font-size: 15px;
        margin-bottom: 40px;
    }
    .wholesales-client-page .begin-cooperation-input {
        flex-direction: column;
    }
    .wholesales-client-page .phone-input {
        margin-right: 0;
    }
    .wholesales-client-page .begin-cooperation-email-phone {
        flex-grow: 1;
    }
    .wholesales-client-page
        .begin-cooperation-email-phone
        .begin-cooperation-input-text {
        width: 100%;
    }
    .wholesales-client-page .begin-cooperation-input-last {
        margin-bottom: 0;
    }
    .wholesales-client-page .consent-block {
        margin-top: 25px;
        flex-direction: column;
    }
    .wholesales-client-page .consent-block-text {
        font-size: 12px;
        line-height: 17px;
        margin-right: 0;
        text-align: center;
    }
    .wholesales-client-page .blue-link {
        font-size: 12px;
    }
    .wholesales-client-page .form-blue-button {
        font-size: 14px;
        color: #fff;
        background: #951bc4;
        border: none;
        width: 100%;
        text-align: center;
        height: 44px;
        flex-shrink: 0;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 20px;
    }
}
@media (min-width: 481px) and (max-width: 1199px) {
    .wholesales-client-page .begin-cooperation-content {
        padding: 0 134px;
        box-sizing: border-box;
    }
    .wholesales-client-page .begin-cooperation-container {
        margin-top: 10px;
        padding: 45px 75px;
        flex-direction: column;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.12);
    }
    .wholesales-client-page .begin-cooperation-text {
        margin-top: 20px;
        font-size: 13px;
        line-height: 28px;
    }
    .wholesales-client-page .begin-cooperation-form {
        margin-top: 0;
        width: 100%;
        margin-left: 0;
    }
    .wholesales-client-page .begin-cooperation-input-text {
        font-size: 15px;
        margin-bottom: 40px;
    }
    .wholesales-client-page .first-input {
        margin-top: 28px;
    }
    .wholesales-client-page .begin-cooperation-input-last {
        margin-bottom: 0;
    }
    .wholesales-client-page .begin-cooperation-input {
        flex-direction: column;
    }
    .wholesales-client-page .phone-input {
        margin-right: 0;
    }
    .wholesales-client-page .begin-cooperation-email-phone {
        flex-grow: 1;
    }
    .wholesales-client-page
        .begin-cooperation-email-phone
        .begin-cooperation-input-text {
        width: 100%;
    }
    .wholesales-client-page .consent-block {
        margin-top: 25px;
        flex-direction: column;
    }
    .wholesales-client-page .consent-block-text {
        font-size: 12px;
        line-height: 17px;
        margin-right: 0;
        text-align: center;
    }
    .wholesales-client-page .form-blue-button {
        font-size: 14px;
        width: 100%;
        height: 44px;
        flex-shrink: 0;
        margin-top: 20px;
    }
    .wholesales-client-page .blue-link {
        font-size: 12px;
    }
}
.wholesales-client-page .begin-cooperation-container {
    border: 3px solid #951bc4;
}

@media (min-width: 1200px) and (max-width: 1649px) {
    .wholesales-client-page .begin-cooperation-container {
        padding: 80px 68px;
    }
    .wholesales-client-page .begin-cooperation-form {
        width: 580px;
    }
    .wholesales-client-page
        .begin-cooperation-email-phone
        .begin-cooperation-input-text {
        width: 271px;
    }
}
h2 {
    margin: 5px 0 15px;
}
.wholesales-client-page .error-text {
    display: none;
    color: #fff;
    font-size: 12px;
    position: relative;
    top: -40px;
    left: 0px;
    background: #ff8383;
    padding: 5px;
}
/*! CSS Used fontfaces */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light'), local('Roboto-Light'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2)
            format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
        U+FE2E-FE2F;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light'), local('Roboto-Light'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2)
            format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light'), local('Roboto-Light'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2)
            format('woff2');
    unicode-range: U+1F00-1FFF;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light'), local('Roboto-Light'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2)
            format('woff2');
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light'), local('Roboto-Light'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2)
            format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
        U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light'), local('Roboto-Light'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2)
            format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Roboto Light'), local('Roboto-Light'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2)
            format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2)
            format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
        U+FE2E-FE2F;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
            format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2)
            format('woff2');
    unicode-range: U+1F00-1FFF;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2)
            format('woff2');
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2)
            format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
        U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2)
            format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2)
            format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2)
            format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
        U+FE2E-FE2F;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2)
            format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2)
            format('woff2');
    unicode-range: U+1F00-1FFF;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2)
            format('woff2');
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2)
            format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
        U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2)
            format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2)
            format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2)
            format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
        U+FE2E-FE2F;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2)
            format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2)
            format('woff2');
    unicode-range: U+1F00-1FFF;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2)
            format('woff2');
    unicode-range: U+0370-03FF;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2)
            format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
        U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2)
            format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2)
            format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
.begin-cooperation-content a {
    color: #951bc4;
    font-weight: 500;
}
.wholesales-client-page .begin-cooperation-container {
    margin-top: 0;
    margin-bottom: 45px;
    position: relative;
}
.wholesales-client-page .begin-cooperation-container .hover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffffffde;
    z-index: 99999;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
}
