.xsell .xsell-elements {
  overflow: hidden;
  margin: 0 -5px 15px;
}
.xsell.hpbutton .xsell-element, .xsell.hprcolumn .xsell-element {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  float: left;
}
@media all and (min-width: 1200px) {
  .xsell.hpbutton .xsell-element, .xsell.hprcolumn .xsell-element {
    width: 50%;
  }
}
.xsell.hpbutton .xsell-link, .xsell.hprcolumn .xsell-link {
  background-color: #fff;
  line-height: 100%;
  vertical-align: center;
  overflow: hidden;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  float: left;
  max-width: none;
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.xsell.hpbutton .xsell-link:hover, .xsell.hprcolumn .xsell-link:hover {
  border-color: #9d9d9d;
}
.xsell.hpbutton .xsell-image, .xsell.hprcolumn .xsell-image {
  max-height: 40px;
  margin-right: 10px;
}
.xsell.hpbutton .xsell-name, .xsell.hprcolumn .xsell-name {
  font-size: 0.8em;
}
.xsell.hpbutton.xsell-textonly .xsell-element, .xsell.hprcolumn.xsell-textonly .xsell-element {
  width: 100%;
}
.xsell.hpbutton.xsell-textonly .xsell-link, .xsell.hprcolumn.xsell-textonly .xsell-link {
  padding: 10px;
}
.xsell.hpbutton.xsell-box .xsell-element, .xsell.hprcolumn.xsell-box .xsell-element {
  padding: 5px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  float: left;
}
.xsell.hpbutton.xsell-box .xsell-element .xsell-image, .xsell.hprcolumn.xsell-box .xsell-element .xsell-image {
  max-width: 100%;
  width: auto;
}
.xsell.hpfooter .xsell-element {
  width: 200px;
  float: left;
}
.xsell.hpfooter .xsell-link {
  background-color: #fff;
  line-height: 100%;
  overflow: hidden;
  display: block;
  border: 1px solid lightgray;
  align-items: center;
  margin: 10px;
  text-align: center;
  height: 210px;
  padding: 5px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.xsell.hpfooter .xsell-link:hover {
  border-color: #9d9d9d;
}
.xsell.hpfooter .xsell-image {
  display: inline-block;
  width: 80%;
}
.xsell.hpfooter .xsell-name {
  margin-top: 10px;
  font-size: 0.8em;
  display: block;
}
.xsell.hpfooter.xsell-box .xsell-element {
  width: 200px;
}
.xsell.hpfooter.xsell-box .xsell-element .xsell-link {
  height: auto;
}
.xsell.hpfooter.xsell-box .xsell-element .xsell-image {
  width: 100%;
}
.xsell.hpfooter.xsell-textonly .xsell-element {
  height: auto;
  width: 25%;
}
.xsell.hpfooter.xsell-textonly .xsell-element .xsell-link {
  height: 45px;
}
.xsell.hpfooter.xsell-textonly .xsell-element .xsell-name {
  margin: 0;
}
.xsell .xsell-elements-dropdown select {
  margin: 20px 0;
  max-width: 80%;
}
